* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.bio-container {
    width: 90%;
    max-width: 650px;
    z-index: 10;
}

.profile-card {

    display: flex;
    align-items: center;
    gap: 30px;

    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.06);
    border: 1px solid #e2e8f0;

    border-radius: 24px;
    padding: 30px;

    animation: smoothFadeIn 5s ease-out forwards;

}

.avatar {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: normal;
    width: 55%;
}

.link-section {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    gap: 15px;
    width: 45%;
    justify-content: center;
    align-content: center;

}

.social-icon {
    font-size: 26px;
    color: #7a8aa7;
    text-decoration: none;
    display: inline-block;
    width: 50px;
    height: 50px;
}

.site-footer {
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    color: #a0aec0;
    pointer-events: none;
    font-family: monospace;
}

#snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;
}

.snowflake {
    position: absolute;
    background-color: #bcd2ee;
    border-radius: 50%;
    pointer-events: none;
    animation: fall linear forwards, sway ease-in-out infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(105vh);
    }
}

@keyframes sway {

    0%,
    100% {
        margin-left: 0;
    }

    50% {
        margin-left: 20px;
    }
}


.cursor {
    font-weight: bold;
    color: #6d7783;
    animation: blink 0.7s infinite;
    margin-left: 1px;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes smoothFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.social-icon:hover {
    color: #bcd2ee;
    transform: scale(1.1);

}

.social-icon {
    opacity: 0;
    animation: IconPopIn 1s ease-out forwards;
}

.social-icon:nth-child(1) {
    animation-delay: 1s;
}

.social-icon:nth-child(2) {
    animation-delay: 1.5s;
}

.social-icon:nth-child(3) {
    animation-delay: 2s;
}

.social-icon:nth-child(4) {
    animation-delay: 2.5s;
}

.social-icon:nth-child(5) {
    animation-delay: 3s;
}

.social-icon:nth-child(6) {
    animation-delay: 3.5s;
}

@keyframes IconPopIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}